.booking {
  padding: 53px 18px 193px;

  background: url("../assets/images/colorBackground.jpg") no-repeat center;
  background-size: 150%;

  overflow: hidden;
  position: relative;
}

.GM_card {
  width: max-content;

  display: flex;
  align-items: center;
  gap: 18px;

  padding: 15px 30px 15px 15px;
  margin-bottom: 16px;

  border: 1px solid var(--color-gray-light);
  background: var(--color-white-15);
  backdrop-filter: blur(10px);
}

.GM_card__img {
  width: 62px;
  height: 62px;
}

.GM_card__text {
  padding: 8px 0;
  font-family: var(--tertiary-font-family);
}

.GM_card__title {
  font-size: 2rem;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
  font-family: var(--tertiary-font-family);
}

.GM_card__description {
  color: var(--color-white-70);
  font-size: 1.5rem;
  letter-spacing: -0.375px;
}

.booking_title {
  margin-bottom: 23px;

  position: relative;
  z-index: 1;
}

.form_background {
  background: url("../assets/images/colorBackground.jpg") no-repeat center;
  background-size: 150%;

  position: relative;
  z-index: 1;
}

.booking_form {
  padding: 30px 32px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  border: 1px solid var(--color-white-25);
  background: var(--color-white-10);
  backdrop-filter: blur(10px);

  position: relative;
  z-index: 1;
}

.booking_form__title {
  text-align: center;
}

.booking_form__input {
  padding: 12px 14px;
  border: 1px solid var(--color-white-80);
  outline: 1px solid var(--color-white-80);
  background: transparent;
  color: var(--color-gray6);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.booking_form__input::placeholder {
  color: var(--color-gray6);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 160%; /* 22.4px */
}

.form_text__or {
  color: var(--color-white-70);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}

@media screen and (min-width: 768px) {
  .booking {
    padding: 10% 5.6%;
    display: flex;
    justify-content: space-between;

    background-image: url("../assets/images/bgImage.jpg");
    background-size: 100%;
  }

  .booking_left__container {
    width: 50%;
  }

  .GM_card {
    margin-bottom: 42px;
  }

  .booking_title {
    font-size: 4.2rem;
  }

  .form_background {
    background-image: url("../assets/images/bgImage.jpg");
    background-size: 300%;
  }

  .booking_form {
    padding: 42px 62px;
    gap: 18px;
  }

  .booking_form__title {
    font-size: 3.2rem;
  }

  .booking_form__input,
  .booking_form__input::placeholder {
    font-size: 1.6rem;
  }
}
