button {
  border: none;
}

.button_primary {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 17px 10px;
  gap: 10px;

  font-family: var(--secondary-font-family);
  color: var(--color-black);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;

  background: var(--color-gold);
}

.button_primary:hover {
  background: var(--color-gold-light);
}

.button_primary:active {
  background: var(--color-gold-medium);
}

.button_outline {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 17px 10px;
  gap: 10px;

  font-family: var(--secondary-font-family);
  color: var(--color-gold);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;

  background: transparent;
  border: 1px solid var(--color-gold);
}

.button_outline:hover {
  color: var(--color-gold-medium);
  border-color: var(--color-gold-medium);
}

.button_outline:active {
  color: var(--color-gold-light);
  border-color: var(--color-gold-light);
}

.button_tertiary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 8px;
  gap: 4px;

  border: 1px solid rgba(255, 255, 255, 0.12);
  background: var(--color-gray);
  box-shadow: 0 -2px 4px 0 rgba(27, 26, 21, 0.58) inset;

  color: var(--color-white);
  text-transform: lowercase;
}

.button_tertiary--text {
  font-size: 1.2rem;
  line-height: 1.6;
}

.button_arrow {
  width: 15px;
  height: 15px;
}

.button_arrow--rotate {
  transform: rotate(180deg);
}

.button_arrow path {
  fill: white;
}

.button_tertiary:hover {
  border: 1px solid rgba(255, 205, 28, 0.12);
  background: var(--color-gray-70);
  color: var(--color-gold);
}

.button_tertiary:active {
  border: 1px solid rgba(255, 205, 28, 0.12);
  color: var(--color-gold);
}

.button_fullWidth {
  width: 100%;
}

.button_calendar {
  width: 240px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 10px 44px 10px 10px;

  font-family: var(--secondary-font-family);
  color: var(--color-gold);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 400;

  background: transparent;
  border: 1px solid var(--color-gold);

  position: relative;
}

.button_calendar--desktop {
  display: none;
}

.button_calendar:after {
  content: "";
  width: 14px;
  height: 14px;

  position: absolute;
  right: 20px;

  background: url("../assets/icons/calendar.svg") no-repeat center;
}

.button_calendar:active {
  color: var(--color-gold-light);
  border-color: var(--color-gold-light);
}

.button_calendar:active:after {
  background: url("../assets/icons/calendar_light.svg") no-repeat center;
}

@media (min-width: 768px) {
  .button_primary,
  .button_outline,
  .button_tertiary,
  .button_calendar {
    max-width: 344px;
  }

  .button_tertiary {
    padding: 6px 18px;
  }

  .button_tertiary--text {
    font-size: 1.4rem;
  }

  .button_arrow {
    width: 20px;
    height: 20px;
  }

  .button_calendar--desktop {
    display: block;
  }
}
