.reviews {
  margin-bottom: 32px;
}

.reviews__title {
  margin-left: 18px;
  margin-bottom: 24px;
}

.reviews_all__container {
  margin: 0 18px 24px;
}

.all_reviews__header {
  padding: 0 10px;
  background-color: var(--color-aqua);
}

.all_reviews__img {
  width: 56px;
  height: 56px;
}

.all_reviews__body {
  padding: 10px 20px;
  background-color: var(--color-white);
  font-size: 1.4rem;
  color: var(--color-gray);
}

.mark_container {
  display: flex;
  align-items: center;
  gap: 16px;

  margin-bottom: 24px;
}

.all_reviews__mark {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--color-black);
}

.mark-circles {
  display: flex;
  align-items: center;
  gap: 6px;
}

.mark-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-gray-70);

  position: relative;

  overflow: hidden;
}

.mark_circle--fill {
  background-color: var(--color-green);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.mark_circle--fill-1 {
  width: 25%;
}

.mark_circle--fill-2 {
  width: 50%;
}

.mark_circle--fill-3 {
  width: 75%;
}

.mark_circle--fill-4 {
  width: 100%;
}

.review_categories__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 1.2rem;
}

.review_categories__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.review_categories__text {
  font-size: 1.4rem;
  min-width: 25%;
  flex-shrink: 0;
}

.review_categories__count,
.all_reviews__reviews-count {
  font-size: 1.4rem;
  flex-shrink: 0;
}

/* actual width should pass in JS */
.review_categories__line {
  width: 0;
  height: 10px;
  background-color: var(--color-green);
  border-radius: 10px;
}

.review_categories__line--0 {
  display: none;
}

.review_categories__line--full {
  width: 100%;
}

.review_categories__line--2 {
  width: 5%;
}

.reviews_container {
  display: flex;
  gap: 13px;

  margin-bottom: 18px;
  padding: 0 18px;
  overflow-x: auto;
}

.one_review__container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 16px;

  width: 300px;
  padding: 12px;

  border: 1px solid var(--color-brown);
  background: var(--color-dark);

  color: var(--color-gray6);
}

.one_review__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.one_review__photo {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.reviewer_name {
  font-size: 1.6rem;
  line-height: 160%;
}

.reviewer_country {
  line-height: 160%;
  font-size: 1.3rem;
  opacity: 0.6;
}

.one_review__mark_container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.one_review__middle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one_review__mark,
.one_review__date {
  line-height: 160%;
  font-size: 1.4rem;
}

.one_review__subtitle {
  font-size: 1.5rem;
  line-height: 160%;
  font-weight: 500;
  margin-bottom: 8px;
}

.one_review__review-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 1.4rem;
  line-height: 150%;

  margin-bottom: 8px;

  opacity: 0.8;
}

.one_review__link {
  font-size: 1.4rem;
  line-height: 160%;
  color: var(--color-gold);
  text-decoration: underline;
}

.reviews_button__container {
  padding: 0 18px;
}

.reviews_button {
  min-height: 48px;
}

.reviews_scroll__buttons-container {
  display: none;
}

.scroll-button {
  width: 48px;
  height: 48px;

  border: 1px solid var(--color-white-10);
  backdrop-filter: blur(8px);
}

.scroll-button--left {
  background: var(--color-white-10) url("../assets/icons/longArrowLeft.svg")
    no-repeat center;
}

.scroll-button--right {
  background: var(--color-white-10) url("../assets/icons/longArrowRight.svg")
    no-repeat center;
}

@media screen and (min-width: 768px) {
  .reviews {
    margin-bottom: 80px;
  }

  .reviews__title {
    margin-left: 72px;
    margin-bottom: 32px;
  }

  .reviews_all__container {
    margin: 0 72px 72px 72px;

    display: flex;

    background: var(--color-white);
  }

  .all_reviews__header {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .all_reviews__img {
    width: 215px;
    height: 215px;
  }

  .all_reviews__body {
    margin: 0 auto;
  }

  .reviews_container {
    padding-left: 72px;
    margin-bottom: 32px;
    gap: 24px;
  }

  .one_review__container {
    gap: 18px;

    width: 363px;
    padding: 18px;
  }

  .one_review__photo {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }

  .reviewer_name {
    font-size: 1.8rem;
  }

  .reviewer_country {
    font-size: 1.4rem;
  }

  .one_review__mark,
  .one_review__date {
    font-size: 1.6rem;
  }

  .reviews_button__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 72px;
  }

  .reviews_scroll__buttons-container {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
