.time_booking {
  margin-bottom: 32px;
}

.time_booking__title {
  text-align: center;
  margin-bottom: 24px;
}

.time_booking__tips {
  display: none;

  color: var(--color-gray6);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
}

.days_container {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  overflow-x: auto;
}

.days_container::-webkit-scrollbar {
  display: none;
}

.day_container {
  flex-shrink: 0;
}

.day_container__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 10px;

  width: 110px;
  height: 63px;

  background: var(--color-brown-40);
  color: var(--color-black);
}

.day_container--active > .day_container__header {
  background: var(--color-gold-light);
}

.day_container--disabled > .day_container__header {
  color: var(--color-white-40);
}

.day_container--disabled > .day_name__text {
  color: var(--color-gray6);
  opacity: 0.3;
}

.day_container--future > .day_container__header {
  color: var(--color-gray6);
}

.day_container--future > .day_name__text {
  opacity: 0.3;
}

.day_date__text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 160%;
}

.day_name__text {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.5;
}

.calendar_button__container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;
}

.times_container {
  padding: 14px 18px 18px 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  margin-bottom: 30px;

  border: 1px solid var(--color-light-brown);
  background: var(--color-light-brown-30);
}

.times_container--desktop {
  display: none;
}

.time_price {
  font-size: 1.6rem;
  text-align: center;
}

.time_text__input {
  display: none;
}

.time_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.time_text__label {
  padding: 6px 18px;
  color: var(--color-gray6);
  font-size: 1.4rem;
  line-height: 160%;

  text-align: center;

  background: var(--color-brown);

  border: none;
}

.time_text__input:checked + .time_text__label {
  background: var(--color-gold);
  color: var(--color-black);
}

.time_text__input:disabled + .time_text__label {
  border: 1px solid var(--color-gray5);
  opacity: 0.2;
}

.select_quest-type__container {
  padding-top: 4px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 100%;
}

.select_time__text {
  padding-top: 12px;
  font-size: 1.4rem;
  line-height: 160%;
}

.quest_type__input {
  display: none;
  padding: 0;
  margin: 0;
}

.quest_type__label {
  width: 100%;
  max-width: 153px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  padding: 8px 12px;

  line-height: 160%;
  cursor: pointer;

  border: 1px solid var(--color-gold-light-20);
  background: var(--color-maire);
}

.quest_type__text {
  font-size: 1.3rem;
  line-height: 160%;
  color: var(--color-gray6);
}

.quest_type__price {
  font-size: 1.5rem;
  line-height: 160%;
  font-weight: 600;
  color: var(--color-gold-light);
}

.quest_type__price--old {
  font-weight: 350;
  text-decoration: line-through;
}

.quest_type__input:checked + .quest_type__label {
  border: 1px solid rgba(255, 214, 108, 0.2);
  background: #ffcd1c;
}

.quest_type__input:checked + .quest_type__label > .quest_type__text,
.quest_type__input:checked + .quest_type__label > .quest_type__price {
  color: var(--color-black);
}

.data_input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  margin-bottom: 24px;
}

.time_booking__input {
  padding: 12px 14px;
  width: 100%;
  max-width: 400px;
  outline: 1px solid var(--color-white-80);

  border: 1px solid var(--color-white-20);
  background: var(--color-black);
  color: var(--color-white-70);
}

.time_booking__input::placeholder {
  color: var(--color-white-70);
}

.time_booking__finish-cost__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 14px;
}

.time_booking__finish-cost--text {
  color: var(--color-gray6);
  text-align: center;
  font-size: 1.6rem;
  line-height: 160%;
}

.time_booking__finish-cost--cost {
  color: var(--color-gold);
  text-align: center;
  font-size: 3.1rem;
  font-weight: 600;
  line-height: 160%;
}

.time_booking__finish-cost--upper-text {
  color: var(--color-gray6);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 160%;
  text-transform: uppercase;
}

.days_scroll__buttons-container {
  display: none;
}

@media (min-width: 768px) {
  .time_booking__title {
    text-align: left;
    font-size: 3.4rem;
    margin-bottom: 10px;
    line-height: 1;
  }

  .time_booking__header {
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 32px;
  }

  .calendar_button__container--mob,
  .times_container--mobile,
  .day_container--mob {
    display: none;
  }

  .time_booking__tips {
    display: block;
  }

  .day_date__text {
    font-size: 1.8rem;
  }

  .day_name__text {
    font-size: 1.6rem;
  }

  .days_container {
    gap: 24px;
    margin-left: 18px;
    margin-bottom: 20px;
  }

  .day_container {
    flex-shrink: 0;
  }

  .day_container__header {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-light-brown);
    background: var(--color-light-brown-30);
  }

  .times_container--desktop {
    display: flex;
    background: var(--color-black);
  }

  .times_container {
    padding: 16px 14px;
    margin-bottom: 0;
  }

  .day_container--disabled > .times_container--desktop {
    opacity: 0.4;
    pointer-events: none;
  }

  .time_booking__input {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;

    outline: 1px solid var(--color-white-20);
    border: 1px solid var(--color-white-20);

    max-width: 362px;
  }

  .time_booking__input::placeholder {
    font-size: 1.6rem;

    color: var(--color-white-70);
  }

  .time_booking__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .days_scroll__buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0 48px;

    position: absolute;
    top: 14%;
    left: 0;
    right: 0;
  }
}

@media (min-width: 1024px) {
  .time_booking__title {
    line-height: 1;
    font-size: 5.6rem;
  }

  .time_booking__header {
    padding: 0 72px;
  }

  .days_container {
    margin-left: 72px;
  }
}
