.whatsApp_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 13px 14px;

  border: 1px solid var(--color-reptile-green);
  background: var(--color-reptile-green-40);
}

.whatsApp_text {
  color: var(--color-light-green);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 120%;
  width: 50%;
}
